<?xml version="1.0" encoding="utf-8"?>
<module productName="FileUrlContextMenu" loadFromBin="false">
  <clientResources>
    <add name="dc-fileurlcontextmenu-res" path="ClientResources/Scripts/init.js" resourceType="Script" />
    <add name="dc-fileurlcontextmenu-res" path="ClientResources/Scripts/ShowFileUrlCommand.js" resourceType="Script" />
  </clientResources>

  <dojo>
    <packages>
      <add name="dc-fileurlcontextmenu" location="ClientResources/Scripts" />
    </packages>
  </dojo>

  <clientModule initializer="dc-fileurlcontextmenu.init">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="dc-fileurlcontextmenu-res" />
    </requiredResources>
  </clientModule>
</module>